# Ignore everything by default
*

# Allow .gitignore itself
!.gitignore

# Allow .github directory
!.github/
.github/*
!.github/workflows/
!.github/workflows/*.yml

# Allow spider directory
!spider/
spider/*
!spider/Makefile
!spider/CMakeLists.txt
spider/inc/*
!spider/inc/
!spider/inc/*.hpp
spider/src/*
!spider/src/
!spider/src/*.cpp
