# Ignore everything by default
*

# Allow .gitignore itself
!.gitignore

# Allow .gitmodules for submodules
!.gitmodules

# Allow .github directory
!.github/
.github/*
!.github/workflows/
!.github/workflows/*.yml

# Allow spider directory
!spider/
spider/*
!spider/Makefile
!spider/CMakeLists.txt
spider/inc/*
!spider/inc/
!spider/inc/*.hpp
spider/src/*
!spider/src/
!spider/src/*.cpp

# Allow vendor directory for submodules
!spider/vendor/
!spider/vendor/**

# Allow scorpion directory
!scorpion/
scorpion/*
!scorpion/Makefile
!scorpion/CMakeLists.txt
scorpion/inc/*
!scorpion/inc/
!scorpion/inc/*.hpp
scorpion/src/*
!scorpion/src/
!scorpion/src/*.cpp
